body {
    font-family: system-ui, Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333;
    height: 100%;
}

h2.header {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    background-color: #eee;
    border-radius: 0px 0px 18px 0px;
    margin-right: 10px;
}

/* Remove space between paragraph and unordered list. */
p + ul {
    margin-top: -10px;
}

.developer {
    /* Developer options are hidden. */
    display: none;
}

#ellipsesSVG {
    width: calc(100vw - 390px);
    height: calc(100vh - 234px);
    position: absolute;

    z-index: -1;
}


#resultsInfo {
    position: absolute;
    top: 50px;
    right: 0px;
    padding-right: 15px;
    font-size: 10pt;
    width: 370px;
    margin-top: 10px;
    height: auto;
    display: block;

    padding: 12px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    background-color: #eee;
    border-radius: 18px 0px 0px 18px;
}

td.other {
    text-align: right;
}

#resultsTableContent {
    height: calc(100vh - 405px);
    overflow: auto;

}

#instructions {
    margin-bottom: 20px;
}

#controls {
    position: absolute;
    bottom: 0px;
    padding: 1px;
    border-top: 1px solid grey;
    background-color: #eee;
    font-size: 10pt;
    color: #333;
    width: 100%
}

h3 {
    margin-top: 0px;
    font-size: 11pt;
    margin-bottom: 4px;
}

a.tooltip {
    font-size: 10pt;
}

.tooltip li {
    font-weight: normal;
}

#controls table.controlpanels {
    margin: 0px;
    padding: 0px;
}

#controls table.controlpanels tbody tr td.panel {
    vertical-align: top;
    height: 140px;
}

.scrollablecontent {
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
    height: 115px;
    background: /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
    radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background: /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

.areaTable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}


.areaTable, .areaTable th, .areaTable td {
    border: 1px solid darkgrey;
}

.areaTable td.first {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.areaTable td.unwanted {
    color: red;
}

.areaTable td.missing {
    color: orange;
}

.diagramColumn img {
    width: 350px;
    height: 350px;
}
