.tooltip:link {
	text-decoration: none;
	color: #555753;
}
.tooltip:hover, .tooltip:active, .tooltip:visited {
	text-decoration: none;
	color: black;
}

.tooltip {
	border-bottom: 1px dotted #000000; color: #000000; outline: none;
	text-decoration: none;
	cursor: help;
	position: relative;
}
.tooltip span {
	position: absolute;
	display: none;

}
.tooltip:hover span, .dialog span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	display: block;
	position: absolute;
    left: -250px;
    z-index: 999;
	margin-left: 0;
    width: 250px;
    overflow: visible;
	padding-left: 20px;
}
.tooltip:hover span p, .tooltip:link span p, .dialog span p {
	color: black;
	text-decoration: none;
	font-weight: normal;
	padding-left: 0px;
	font-size: 14px;
}
.tooltip:hover img, .dialog img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.tooltip:hover em, .dialog em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;
    font-style: normal;
}
.abovecenter:hover span {
	left: -190px;
    bottom: 38px;
}
.leftoftable:hover span {
	left: -635px;
    top: 0px;
}

.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

.dialog span {
 	display: relative;
	left: 100px;
	top: 100px;
}
